{%  extends 'parent/base.html' %}
{% load static %}
{% block title %} صفحه ثبت تیکت {% endblock %}
{% block head %}
  <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">


{% endblock %}



{% block content %}
     <div class="container-fluid">
        <div class="row container-fluid main-page-top">


            <span class="current-location-text">
                <i class="ti-direction-alt icon"></i>  User Add Ticket
            </span>

        </div>


        <!-- second part -->
        <div class="row">
            <div class="col-lg-9">
                <div class="card">
                    <form action="#" method="POST" class="form">
                          {% csrf_token %}  
                          <label for="title-ticket" class="db">عنوان تیکت</label>
                          <input type="text" name="title" class="form-control">
                          <label for="phone" class="db"> تلفن همراه</label>
                          <input type="tel" name="phonnum" class="form-control">
                          <label for="text-ticket" class="db">متن تیکت</label>
                          <textarea name="description" class="form-control"></textarea>
                          <div class="text-center py-3">
                              <button type="submit" class="btn btn-primary">ثبت</inp>
                              <button type="cancel" class="btn btn-danger">لغو</button>
                          </div>
                    </form>
                </div>

            </div>
            <div class="col-lg-3">
                <div class="card main-page-info">
                    <p>اطلاعات کاربر</p>
                    <hr>
                    <p>ایمیل:</p>
                    <p>{{email}}</p>
                    <a href="#" class="btn btn-block btn-danger main-page-update-btn">بروزرسانی</a>

                </div>
            </div>

        </div>
    </div>



{% endblock %}
