{% load static %}
<html lang="fa-IR" dir="rtl" >
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
     {% comment %} <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}"> {% endcomment %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style2.css' %}">
     <link rel="stylesheet" href="{% static 'css/footer.css' %}">
     <link rel="stylesheet" href="{% static 'css/menu.css' %}">

    {% block head %} {% endblock %}
</head>
<body>

{% block menu %}
{% include "partial/menu.html" %}
{% endblock %}
{% block content %}
{% endblock %}
{% block footer %}
{% include "partial/footer.html" %}
{% endblock %}

</body>

</html>