{% extends "parent/base.html" %}
{% load static %}
{% block title %} صفحه مدیریت {% endblock %}
{% block head %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap5.1.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style2.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/themify-icons2.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link href="assets/css/lib/themify-icons.css" rel="stylesheet">
{% endblock %}
{% block content %}
 <!-- Main Body -->
    <div class="container-fluid">
        <div class="row container-fluid main-page-top">

            <span class="current-location-text">
                <i class="ti-direction-alt icon"></i> Admin Panel
            </span>

        </div>


        <!-- second part -->
        <div class="row">
            <div class="col-lg-9">
                <div class="card main-page-table">
                    <span> لیست تیکت‌ های کاربران </span>
                    <div class="table-responsive">

                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col" class="ticket-name">عنوان تیکت</th>
                                    <th scope="col" class="ticket-text">ایمیل کاربر</th>
                                    <th scope="col">وضعیت</th>
                                    <th scope="col">تاریخ ثبت</th>
                                </tr>
                            </thead>
                            <tbody>

                                <!-- Ticket Info for admin STARTs -->
                                {% for ticket in tickets %}
                                <tr>
                                    <th scope="row">{{ ticket.id }}</th>
                                    <!-- By click on title, ticket details page apear for admin  -->
                                    <td><a href="{% url 'admin_view_ticket' ticket.id %}">{{ ticket.title }}</a></td>
                                    <td>{{ ticket.user.email }}</td>
                                    {% if ticket.status == 'بررسی شده' %}
                                        <td><span class="badge badge-success">{{ ticket.status }}</span></td>
                                    {% elif ticket.status == 'درحال بررسی' %}
                                        <td><span class="badge badge-warning">{{ ticket.status }}</span></td>
                                    {% else %}
                                        <td><span class="badge badge-danger">{{ ticket.status }}</span></td>
                                    {% endif %}
                                    <td>{{ ticket.created_time }}</td>
                                </tr>
                                {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>

            </div>


             <!-- Admin Acount Info STARTs  -->
             <div class="col-lg-3">
                <div class="card main-page-info">
                    <p>اطلاعات شما</p>
                    <hr>
                    <span>ایمیل: </span>
                    <span>{{ user.email }}</span>
                </div>
            </div>
             <!-- Admin Acount Info ENDs  -->

        </div>
    </div>
{% endblock %}

