{% extends "parent/base.html" %}
{% load static %}
{% block title %} صفحه کاربر {% endblock %}
{% block head %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row container-fluid main-page-top">


            <span class="current-location-text">
                <i class="ti-direction-alt icon"></i> User Tickets
            </span>

        </div>


        <!-- second part -->
        <div class="row">
            <div class="col-lg-9">
                <div class="card main-page-table">
                    <span>جدول تیکت ها</span>
                    <div class="table-responsive">

                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col" class="ticket-name">نام تیکت</th>
                                    <th scope="col" class="ticket-text">متن تیکت</th>
                                    <th scope="col">وضعیت</th>
                                    <th scope="col">تاریخ ثبت</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- FIRST BODY START -->
                               {% for ticket in tickets %}
                                <tr>
                                    <th scope="row">{{ ticket.id }}</th>

                                    <!-- By click on title, ticket details page apear for admin  -->
                                    <td><a href="#">{{ ticket.title }}</a></td>
                                    <td>{{ ticket.description}}</td>
                                    {% if ticket.ATTRIBUTE_TYPE_FIELDS == 1 %}
                                        <td><span class="badge badge-success">بررسی شده</span></td>
                                    {% elif ticket.ATTRIBUTE_TYPE_FIELDS == 2 %}
                                        <td><span class="badge badge-warning">در حال بررسی</span></td>
                                    {% elif ticket.ATTRIBUTE_TYPE_FIELDS == 3 %}
                                        <td><span class="badge badge-danger">بررسی نشده</span></td>
                                    {% endif %}
                                    <td>{{ ticket.created_time }}</td>
                                </tr>
                                {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
            <div class="col-lg-3">
                <div class="card main-page-info">
                    <p>اطلاعات شما</p>
                    <hr>
                    <span>{{ user.username }}</span>
                    <span>{{ user.email}}</span>
                    <span>{{ user.phonnum }}</span>

                </div>
            </div>

        </div>
    </div>
{% endblock %}


