{% extends "parent/base.html" %}
{% load static %}
{% block title %} صفحه کاربر {% endblock %}
{% block head %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style2.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row container-fluid main-page-top">


            <span class="current-location-text">
                <i class="ti-direction-alt icon"></i> User Tickets
            </span>

        </div>


        <!-- second part -->
        <div class="row">
            <div class="col-lg-9">
                <div class="card main-page-table">
                    <span>جدول تیکت ها</span>
                    <div class="table-responsive">

                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col" class="ticket-name">نام تیکت</th>
                                    <th scope="col" class="ticket-text">متن تیکت</th>
                                    <th scope="col">وضعیت</th>
                                    <th scope="col">تاریخ ثبت</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- FIRST BODY START -->
                                {% for ticket in tickets %}
                                <tr>
                                    <th scope="row">{{ ticket.id }}</th>
                                    <td><h5><a href="{% url 'view_ticket' ticket.id %}">{{ ticket.title }}</a></h5></td>
                                    <td>{{ ticket.description }}</td>
                                    {% if ticket.status == 'بررسی شده' %}
                                        <td><span class="badge badge-success">{{ ticket.status }}</span></td>
                                    {% elif ticket.status == 'درحال بررسی' %}
                                        <td><span class="badge badge-warning">{{ ticket.status }}</span></td>
                                    {% else %}
                                        <td><span class="badge badge-danger">{{ ticket.status }}</span></td>
                                    {% endif %}
                                    <td>{{ ticket.modified_time }}</td>
                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
            <div class="col-lg-3">
                <div class="card main-page-info">
                    <p>اطلاعات شما</p>
                    <hr>
                    <span>ایمیل: </span>
                    <span>{{ user.email}}</span>
                </div>
            </div>

        </div>
    </div>
{% endblock %}


