
{% extends "parent/base.html" %}
{% load static %}
{% block title %} صفحه اصلی {% endblock %}
{% block head %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row container-fluid main-page-top">
            <div class="col-lg-4 welcome-text">
                <span>
                    خوش آمدید | <span class="user-name">  {{ user.email }} </span>
                </span>
            </div>
            <div class="col-lg-8 current-location-text">
                <span>
                    <i class="ti-direction-alt icon"></i> Dashboard / Home
                </span>
            </div>
        </div>
        <div class="row">
            <!-- FIRST WIDGET START -->
            <div class="col-lg-3">
                <div class="card">
                    <div class="stat-widget-one">
                        <div class="stat-icon dib"><i class="ti-receipt color-success border-success"></i>
                        </div>
                        <div class="stat-content dib">
                            <div class="stat-text">تمام تیکت ها</div>
                            <div class="stat-digit">{{ tickets|length }}</div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- FIRST WIDGET END -->
            <div class="col-lg-3">
                <div class="card">

                    <div class="stat-widget-one">
                        <div class="stat-icon dib"><i class="ti-comments-smiley color-primary border-primary"></i>
                        </div>
                        <div class="stat-content dib">
                            <div class="stat-text">تیکت های بررسی شده</div>
                            <div class="stat-digit">{{ checked_tickets_count }}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card">

                    <div class="stat-widget-one">
                        <div class="stat-icon dib"><i class="ti-headphone-alt color-yellow border-warning"></i>
                        </div>
                        <div class="stat-content dib">
                            <div class="stat-text">تیکت های در حال بررسی</div>
                            <div class="stat-digit">{{ inprogress_tickets_count }}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card">

                    <div class="stat-widget-one">
                        <div class="stat-icon dib"><i class="ti-face-sad color-danger border-danger"></i>
                        </div>
                        <div class="stat-content dib">
                            <div class="stat-text">تیکت های بررسی نشده</div>
                            <div class="stat-digit">{{ not_checked_tickets_count }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- second part -->
        <div class="row">
            <div class="col-lg-9">
                <div class="card main-page-table">
                    <span>جدول تیکت ها</span>
                    <div class="table-responsive">

                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">id</th>
                                    <th scope="col" class="table-ticket-name-header ">نام تیکت</th>
                                    <th scope="col">وضعیت</th>
                                    <th scope="col">تاریخ آخرین تغییر</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for ticket in tickets %}
                                    <tr>
                                        <th scope="row">{{ ticket.id }}</th>
                                        {% if user.username == "user" %}
                                            <td><h5><a href="{% url 'view_ticket' ticket.id %}">{{ ticket.title }}</a></h5></td>
                                        {% else %}
                                            <td><h5><a href="{% url 'admin_view_ticket' ticket.id %}">{{ ticket.title }}</a></h5></td>
                                        {% endif %}
                                        {% if ticket.status == 'بررسی شده' %}
                                            <td><span class="badge badge-success">{{ ticket.status }}</span></td>
                                        {% elif ticket.status == 'درحال بررسی' %}
                                            <td><span class="badge badge-warning">{{ ticket.status }}</span></td>
                                        {% else %}
                                            <td><span class="badge badge-danger">{{ ticket.status }}</span></td>
                                        {% endif %}
                                        <td>{{ ticket.modified_time }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
            <div class="col-lg-3">
                <div class="card main-page-info">
                    <p>اطلاعات شما</p>
                    <hr>
                    <span>ایمیل: </span>
                    <span> {{ user.email }} </span>
                    <br>
                </div>
            </div>

        </div>
    </div>



{% endblock %}
