 <div class="footer-basic">
  <footer>
      <ul class="list-inline">
          <li class="list-inline-item"><a href="#">خانه</a></li>
          <li class="list-inline-item"><a href="#">خدمات</a></li>
          <li class="list-inline-item"><a href="#">درباره</a></li>
          <li class="list-inline-item"><a href="#">شرایط</a></li>
          <li class="list-inline-item"><a href="#">امنیت</a></li>
      </ul>
      <p class="copyright">تمامی حقوق این وبسایت مربوط به شرکت پشتیبانی است</p>
  </footer>
</div>