
  <div class="base">

    <div class="content">
         <div class="left box">
           <div class="upper">
             <div class="topic">درباره ما</div>
             <p>این وبسایت برای پشتیبانی از محصولات نرم افزاری است</p>
           </div>
           <div class="lower">
             <div class="topic">ارتباط با ما</div>
             <div class="phone">
               <a href="#" style="color: white"><i class="fas fa-phone-volume"></i>4555 485 918 98+</a>
             </div>
             <div class="email">
               <a href="#" style="color: white"><i class="fas fa-envelope"></i>ticketing@gmail.com  </a>
             </div>
           </div>
         </div>
         <div class="middle box">
           <div class="topic"> لینک های مفید </div>
           <div><a href="#" style="color: white"> صفحه اصلی </a></div>
           <div><a href="#" style="color: white">ورود</a></div>
         </div>
         <div class="right box">
           <form action="#">
             <div class="media-icons">
               <a href="#" style="color: white"><i class="fab fa-facebook-f"></i></a>
               <a href="#" style="color: white"><i class="fab fa-instagram"></i></a>
               <a href="#" style="color: white"><i class="fab fa-twitter"></i></a>
               <a href="#" style="color: white"><i class="fab fa-youtube"></i></a>
               <a href="#" style="color: white"><i class="fab fa-linkedin-in"></i></a>
             </div>
           </form>
       </div>

    </div>


  </div>
