{% extends "parent/base.html" %}
{% load static %}
{% block title %} صفحه مدیریت تیکت ها {% endblock %}

{% block head %}
  <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Namr Project</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{% static 'css/admin_view_ticket.css' %}">
{% endblock %}


{% block content %}
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <div class="container-fluid">
        <div class="row container-fluid main-page-top">
            <span class="current-location-text">
                <i class="ti-direction-alt icon"></i> Admin View Ticket
            </span>

        </div>


        <!-- second part -->
        <div class="row">
            <div class="col-lg-9">
                <div class="card">
                    <form action="#" method="POST" class="form">
                        {% csrf_token %}
                        <label for="" class="db">عنوان تیکت</label>
                        <input readonly type="text" class="form-control" value={{ ticket.title }}>
                        <label for="" class="db">متن تیکت</label>
                        <textarea readonly name="" id=""
                            class="form-control">{{ ticket.description }}</textarea>
                        <label for="" class="db">پاسخگویی</label>
                        <textarea name="" id="" class="form-control"></textarea>



{#                        <label for="" class="db">وضعیت تیکت</label>#}
{#                        <div class="text-center container-fluid dib">#}
{#                            <!-- BACKEND GUYS, IT'S RADIO BUTTON -->#}
{##}
{#                            <input type="radio" class="btn-check pf" name="options" id="option1" autocomplete="off" checked />#}
{#                            <label class="btn btn-primary p-1 mx-1" for="option1">بررسی شده</label>#}
{##}
{##}
{#                            <input type="radio" class="btn-check pf" name="options" id="option2" autocomplete="off" />#}
{#                            <label class="btn btn-warning p-1 mx-1" for="option2">در حال بررسی</label>#}
{##}
{##}
{#                            <input type="radio" class="btn-check pf" name="options" id="option3" autocomplete="off" />#}
{#                            <label class="btn btn-danger p-1 mx-1" for="option3">بررسی نشده</label>#}
{##}
{##}
{#                        </div>#}
                        <div class="text-center py-3">
                            <button type="button" class="btn btn-primary">ارسال</button>
                            <button type="submit" class="btn btn-danger">لغو</button>
                        </div>
                    </form>
                </div>

            </div>
            <div class="col-lg-3">
                <div class="card main-page-info">
                    <p>اطلاعات کاربر</p>
                    <hr>
                    <span>{{ ticket.user.username }}</span>
                    <span>{ticket.user.email}</span>

                </div>
            </div>

        </div>
    </div>
{% endblock %}

